#wrap{
	width: 1440px;
	height: 2899px;
	background: #242424 no-repeat;
	margin: auto;
	background-image: url(../images/bg.jpg);
}


/* 头部 */
#header {
	overflow: hidden;
	margin-bottom: 36px;
}

#header .head {
	overflow: hidden;
	padding: 0 220px;
	background: #040404;
}

#logo {
	position: absolute;
	width: 219px;
	height: 34px;
	margin-top: -16px;
	background-image: url(../images/logo.png);
}

#topnav {
	float: right;
}

#topnav .item {
	float: left;
}

#topnav .item a {
	color: #fff;
	font: 12px/1em "微软雅黑";
}

/* 页面内容 */
#page-content {
	width: 1000px;
	border: 1px solid #f00;
	margin: auto;
}

#page-content .numbered {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background: #c0a057;
    color: rgb(255, 255, 255);
    font: 21px/1.1 Adobe Garamond Pro;
    letter-spacing:normal;
}

#page-content .g-title {	/* for #part1 #part2 #part3 #part3d */
	text-align: center;
	font: 67px/1 "楷体";	
}

#page-content .g-sub-title {	/* for #part1 #part2 #part3 #part3d */
	margin-bottom: 30px;
	color: #c0a057;
	text-align: center;
	letter-spacing: 23px;
	font: 47px/1 Gabriola;
}

#page-content .sepia {
	color: #c0a057;
}
/* 第一部分 */
#part1 {
	height: 470px;
	margin-bottom: 100px;
}

#part1 .suit {
	position: absolute;
}

#part1 .section {
	padding: 131px 34px 0 320px;
	font-family: "微软雅黑";
}

#part1 .style-list {
	overflow: hidden;
	margin-bottom: 40px;
}

#part1 .style-list .item {
	float: left;
	width: 33%;
}

#part1 .style-list .sepia {
	margin-right: 12px;
	font: 20px Adobe Garamond Pro;	
}


#part1 .paragraph {
	font-size: 14px;
	line-height: 2;
}


/* 第二部分 */

#part2 {
	border: 1px solid #ff0;
}

#part2 .pic-play {
	position: relative;
	border:3px solid #c0a057;
	background: #3f3f3f;
}

#part2 .pic-box {
	position: relative;
	width: 875px;
	height: 516px;
	margin: auto;
}

#part2 .pic-box .pic {
	position: absolute;
	margin-top: -12px;
}

#part2 .pic-box .numbered {
	box-sizing:border-box;
	position: absolute;
	bottom: 14px;
	left: 50%;
	width: 69px;
	height: 69px;
	padding-left: 13px;
	margin-left: -35px;
	border-radius: 50%;
	background: #c0a057 url(../images/numbered.png);
	font: 45px Adobe Garamond Pro;
}
#part2 .arrow {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	width: 22px;
	height: 37px;
	background: url(../images/arrow.png);
}

#part2 .left-arrow {
	left: 20px;
}

#part2 .right-arrow {
	right: 20px;
	transform:rotateY(180deg);
}

#part2 .dotted-list {
    position: relative;
    top: 33px;
	margin:auto;	/* 上次写到这里了 */
	margin-bottom: -23px;
    text-align:center;
}

#part2 .dotted-list .item {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background:#5b5b5b;
    cursor:pointer;
}

#part2 .dotted-list .item:nth-child(1) {
    background:#c0a057;
}
/* 第三部分 */
#part3 {
    margin-top: 116px;
}

#part3 .clothing-style .style {
    display: inline-block;
    width: 329px;
    border: 1px solid #505050;
    vertical-align:top;
}

#part3 .clothing-style .pic-box {
    position: relative;
    height: 482px;
    border: 2px solid #c0a057;
}
#part3 .clothing-style img {
    position: absolute;
}

#part3 .pic-box .arrow {
    position: absolute;
    top: 147px;
    width: 16px;
    height: 31px;
    background: url(../images/style-arrow.png);
}

#part3 .pic-box .left-arrow {
    left: 14px;
}

#part3 .pic-box .right-arrow {
    right: 14px;
    transform:rotateY(180deg);
}

#part3 .clothing-style .style:nth-child(2) {
    margin: 0px 2px;
}

#part3 .clothing-style .adj {
    position: absolute;
    bottom: 20%;
    width: 100%;
    background: #000;
    font: 24px/1.6 "Adobe 黑体 Std";
    text-align: center;
    opacity: 0.7;
}
#part3 .clothing-style .intro {
    box-sizing:border-box;
    width: 100%;
    padding: 5px 6px;
    font: 14px/2 "微软雅黑";
}

#part3 .look {
    margin-bottom: -72px;
    color: rgb(192, 160, 87);
    font: 24px/3 Adobe Garamond Pro;
    letter-spacing:12px;
    text-align: center;
}
/* 3d轮播 */
#part3d {
    margin: 125px 0 0 0;
}

#part3d .pic-play-3d {
    height: 364px;
}

#part3d .pic-play-3d .play-bg {
    position: relative;
    height: 227px;
    border: 2px solid #c0a057;
    background:#3f3f3f;
}

#part3d .play-bg .tip {
    display: none;
    box-sizing:border-box;
    position: absolute;
    right:0;
    padding:20px;
    width: 358px;
    height: 226px;
    font: 14px/2.2 "微软雅黑";
}

#part3d .play-bg .tip:nth-child(1) {
    display: block;
}
#part3d .tip .title {
    width: 80%;
    margin:0 0 20px;
    border-bottom:1px solid #535353;
    font: 20px/2.2 "adobe 黑体 Std";
}


#part3d .effect-stage {
    width: 632px;
    border: 1px solid red;
}

#part3d .effect-stage .img-box {
    position: relative;
}

#part3d .img-box img {
    position: absolute;
    border: 3px solid #c0a057;
}
