#wrap{
	width: 1440px;
	height: 2899px;
	background: #242424 no-repeat;
	margin: auto;
	background-image: url(../images/bg.jpg);
}


/* 头部 */
#header {
	overflow: hidden;
	margin-bottom: 36px;
}

#header .head {
	overflow: hidden;
	padding: 0 220px;
	background: #040404;
}

#logo {
	position: absolute;
	width: 219px;
	height: 34px;
	margin-top: -16px;
	background-image: url(../images/logo.png);
}

#topnav {
	float: right;
}

#topnav .item {
	float: left;
}

#topnav .item a {
	color: #fff;
	font: 12px/1em "微软雅黑";
}

/* 页面内容 */
#page-content {
	width: 1000px;
	border: 1px solid #f00;
	margin: auto;
}

#page-content .g-title {	/* for #part1 #part2 #part3 #part3d */
	text-align: center;
	font: 67px/1 "楷体";	
}

#page-content .g-sub-title {	/* for #part1 #part2 #part3 #part3d */
	margin-bottom: 30px;
	color: #c0a057;
	text-align: center;
	letter-spacing: 23px;
	font: 47px/1 Gabriola;
}

#page-content .sepia {
	color: #c0a057;
}
/* 第一部分 */
#part1 {
	height: 470px;
	margin-bottom: 100px;
}

#part1 .suit {
	position: absolute;
}

#part1 .section {
	padding: 131px 34px 0 320px;
	font-family: "微软雅黑";
}

#part1 .style-list {
	overflow: hidden;
	margin-bottom: 40px;
}

#part1 .style-list .item {
	float: left;
	width: 33%;
}

#part1 .style-list .sepia {
	margin-right: 12px;
	font: 20px Adobe Garamond Pro;	
}


#part1 .paragraph {
	font-size: 14px;
	line-height: 2;
}


/* 第二部分 */

#part2 {
	border: 1px solid #ff0;
}

#part2 .pic-play {
	position: relative;
	border:3px solid #c0a057;
	background: #3f3f3f;
}

#part2 .pic-box {
	position: relative;
	width: 875px;
	height: 516px;
	margin: auto;
}

#part2 .pic-box .pic {
	position: absolute;
	margin-top: -12px;
}

#part2 .pic-box .numbered {
	box-sizing:border-box;
	position: absolute;
	bottom: 14px;
	left: 50%;
	width: 69px;
	height: 69px;
	padding-left: 13px;
	margin-left: -35px;
	border-radius: 50%;
	background: #c0a057 url(../images/numbered.png);
	font: 45px Adobe Garamond Pro;
}
#part2 .arrow {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	width: 22px;
	height: 37px;
	background: url(../images/arrow.png);
}

#part2 .left-arrow {
	left: 20px;
}

#part2 .right-arrow {
	right: 20px;
	transform:rotateY(180deg);
}

#part2 .dotted-list {
    position: relative;
    top: 33px;
	margin:auto;	/* 上次写到这里了 */
	margin-bottom: -23px;
    text-align:center;
}

#part2 .dotted-list .item {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background:#5b5b5b;
    cursor:pointer;
}

#part2 .dotted-list .item:nth-child(1) {
    background:#c0a057;
}
/* 第三部分 */
#part3 {
	border: 1px solid #0ff;
}

#part3d {
	border: 1px solid #fff;
}
